:root {
    --anonymous-icon: url('');
}
img.blocked, a.blocked > img {
    background: left/contain var(--anonymous-icon-url) no-repeat;
    padding-left: 100%;
}
div.blocked {
    filter: blur(10px);
}
.lobby-tick-button {
    width: 20px !important;
    height: 20px !important;
    position: absolute !important;
    top: 5% !important;
    left: 80% !important;
    z-index: 1 !important;
}

.coop-wrapper {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 70%;
}

#brlocations {
  position: absolute;
  z-index: 1000;
}

/* h/t to https://codepen.io/Curlmuhi/pen/ExKWXKO */

.ring
{
  position:absolute;
  background-color: #262626;
  z-index:10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:300px;
  height:300px;
  border:3px solid #3c3c3c;
  border-radius:50%;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring > span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring > span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}


/* shortcut menu items */
.extenssr__nav-submenu {
    z-index: 55;
    position: absolute;
    top: 3rem;
    padding: 0.375rem 0;
    border-radius: 0.5rem;
    max-width: 300px;
    background: var(--color-grey-80);
    list-style-type: none;
}

.extenssr__nav-submenu li {
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.extenssr__nav-submenu a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: .25rem 1rem .25rem 1rem;
    color: #fff;
    opacity: 0.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.extenssr__nav-submenu a:hover {
    opacity: 1;
    text-decoration: none;
}

/* coop */
.extenssr__is-coop-mapping .game-layout__panorama,
.extenssr__is-coop-mapping .game-layout__controls,
.extenssr__is-coop-mapping .guess-map__controls {
    display: none;
}

.extenssr__is-coop-mapping .game-layout__status {
    z-index: 21;
}

.extenssr__is-coop-mapping .game-layout__guess-map {
    right: 0;
    padding-top: 1rem;
}

.extenssr__is-coop-mapping .game-layout__guess-map .guess-map {
    --active-width: 100vw;
    --active-height: 100%;
    --width: var(--active-width);
    --height: var(--active-height);
    opacity: 1;
}



/* h/t https://codepen.io/tobyj/pen/QjvEex */
.lightrope {
    top:0;
    left:0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
  }
  .lightrope li {
    position: relative;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    -webkit-animation-name: flash-1;
            animation-name: flash-1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .lightrope li:nth-child(2n+1) {
    background: aqua;
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    -webkit-animation-name: flash-2;
            animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
  }
  .lightrope li:nth-child(4n+2) {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    -webkit-animation-name: flash-3;
            animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
  }
  .lightrope li:nth-child(odd) {
    -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
  }
  .lightrope li:nth-child(3n+1) {
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
  }
  .lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
  }
  .lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
  }
  .lightrope li:last-child:after {
    content: none;
  }
  .lightrope li:first-child {
    margin-left: -40px;
  }
  
  @-webkit-keyframes flash-1 {
    0%, 100% {
      background: #00f7a5;
      box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }
    50% {
      background: rgba(0, 247, 165, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
  }
  
  @keyframes flash-1 {
    0%, 100% {
      background: #00f7a5;
      box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }
    50% {
      background: rgba(0, 247, 165, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
  }
  @-webkit-keyframes flash-2 {
    0%, 100% {
      background: aqua;
      box-shadow: 0px 4.6666666667px 24px 3px aqua;
    }
    50% {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
  }
  @keyframes flash-2 {
    0%, 100% {
      background: aqua;
      box-shadow: 0px 4.6666666667px 24px 3px aqua;
    }
    50% {
      background: rgba(0, 255, 255, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
  }
  @-webkit-keyframes flash-3 {
    0%, 100% {
      background: #f70094;
      box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    }
    50% {
      background: rgba(247, 0, 148, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
  }
  @keyframes flash-3 {
    0%, 100% {
      background: #f70094;
      box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    }
    50% {
      background: rgba(247, 0, 148, 0.4);
      box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
  }
